<!--
TODO
Optimize the  "Create New Project"-Form
-->


<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragments/header"></header>
<body>


<main role="main">

    <div class="container marketing">

        <!--Section for admins-->
        <div sec:authorize="hasRole('ADMIN')">
            <h1>Projects</h1>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Members</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="project : ${projects}">
                    <td th:text="${project.name}"></td>
                    <td th:text="${project.members}"></td>
                    <td>
                        <!--Modal Start-->
                        <form th:action="@{/userAdmin/addUserToProject}" th:object="${updateProjectForm}" method="post">
                            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h4 class="modal-title w-100 font-weight-bold">Change Role</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body mx-3">
                                            <div class="form-check">
                                                <div th:each="user : ${users}">
                                                    <input th:if="${!project.getMembers().contains(user)}" th:id="'checkBox'+${project.getId()}" th:field="${updateProjectForm.newUsers}" th:value="${user.id}" class="form-check-input" type="checkbox" value="">
                                                    <label th:if="${!project.getMembers().contains(user)}" th:text="${user.name}" th:attr="for='checkBox'+${project.getId()}" class="form-check-label"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <input th:value="${project.id}" th:name="projectId" type="hidden">
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button type="submit" class="btn btn-default">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <script>
                            $('#modal').on('show.bs.modal', function (event) {
                                var button = $(event.relatedTarget) // Button that triggered the modal
                                var project = button.data('project') // Extract info from data-* attributes
                                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                                var modal = $(this)
                                modal.find('.project').val(project);
                            })
                        </script>
                        <!--Modal End-->
                        <div>
                            <button th:attr="data-project=${project}" data-toggle="modal" data-target="#modal" class="btn btn-default">Add Members</button>
                        </div>
                    </td>
                    <td>
                        <!--Modal Start-->
                        <form th:action="@{/userAdmin/removeUserFromProject}" th:object="${updateProjectForm}" method="post">
                            <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h4 class="modal-title w-100 font-weight-bold">Remove Users</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body mx-3">
                                            <div class="form-check">
                                                <div th:each="user : ${users}">
                                                    <input th:if="${project.getMembers().contains(user)}" th:id="'checkBox'+${project.getId()}" th:field="${updateProjectForm.newUsers}" th:value="${user.id}" class="form-check-input" type="checkbox" value="">
                                                    <label th:if="${project.getMembers().contains(user)}" th:text="${user.name}" th:attr="for='checkBox'+${project.getId()}" class="form-check-label"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <input th:value="${project.id}" th:name="projectId" type="hidden">
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button type="submit" class="btn btn-default">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <script>
                            $('#modal').on('show.bs.modal', function (event) {
                                var button = $(event.relatedTarget) // Button that triggered the modal
                                var project = button.data('project') // Extract info from data-* attributes
                                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                                var modal = $(this)
                                modal.find('.project').val(project);
                            })
                        </script>
                        <!--Modal End-->
                        <div>
                            <button th:attr="data-project=${project}" data-toggle="modal" data-target="#modal2" class="btn btn-default">Remove Members</button>
                        </div>
                    </td>
                </tr>
            </table>
            <br><br><br><br><br>

            <h1>Create a new project</h1>
            <form th:action="@{/userAdmin/createNewProject/}" th:object="${newProject}" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input th:field="${newProject.name}" class="form-control" id="name" placeholder="Name" required="required">
                </div>
                <div class="form-check">
                    <div th:each="user : ${users}">
                        <input th:field="${newProject.members}" th:value="${user.id}" class="form-check-input" type="checkbox" id="defaultCheck1">
                        <label th:text="${user.name}" class="form-check-label" for="defaultCheck1"></label>
                    </div>
                </div><br>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Create</button>
                </div>
            </form>
            <br><br><br><br><br>
        </div>
        <br><br><br><br><br>

    </div><!-- /.container -->

    <!-- FOOTER -->
    <footer th:insert="fragments/footer"></footer>
</main>

</body>
</html>