<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<header th:insert="fragments/header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</header>

<body>
<div layout:fragment="content">

    <div class="my-4">
        <div th:replace="layout/menu :: menu"></div>
    </div>

    <div sec:authorize="authenticated">
        <h1>Account</h1>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Name</th>
                <td th:text="${user.name}"></td>
            </tr>
            <tr>
                <th scope="row">Role</th>
                <td th:text="${user.role}"></td>
            </tr>
            <tr>
                <th scope="row">Projects</th>
                <td>
                        <span th:each="a, stat : ${user.projects}"
                              th:text=" ${user.projects[__${stat.index}__].name} +  (${stat.size-1 > stat.index}? ', ':'') ">
                        </span>
                </td>
            </tr>
            <tr>
                <th scope="row">Change Password</th>
                <td>
                    <div>
                        <form th:action="@{/changePassword}" method="post">
                            <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h4 class="modal-title w-100 font-weight-bold">Change Password</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body mx-3">
                                            <div class="md-form mb-4">
                                                <i class="fas fa-lock prefix grey-text"></i>
                                                <label data-error="wrong" data-success="right" for="oldPassword">Old Password</label>
                                                <input th:name="oldPassword" type="password" id="oldPassword" class="form-control validate">
                                            </div>
                                            <div class="md-form mb-4">
                                                <i class="fas fa-lock prefix grey-text"></i>
                                                <label data-error="wrong" data-success="right" for="newPassword">New Password</label>
                                                <input th:name="newPassword" type="password" id="newPassword" class="form-control validate">
                                            </div>
                                            <div class="md-form mb-4">
                                                <i class="fas fa-lock prefix grey-text"></i>
                                                <label data-error="wrong" data-success="right" for="confirmNewPassword">Confirm New Password</label>
                                                <input th:name="newPasswordConfirmation" type="password" id="confirmNewPassword" class="form-control validate">
                                            </div>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button type="submit" class="btn btn-default">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div><button data-toggle="modal" data-target="#modalLoginForm" class="btn btn-primary mb-2">Change password</button></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br><br><br><br><br>

    <p class="small">
        <a href="/journals/">Index</a>
    </p>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>